<div class="row">
  <div class="col-12">
    <h2 class="pb-2 border-bottom">Meu Extrato</h2>
  </div>
  <div class="col-12">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Data</th>
          <th scope="col">Tipo</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <!-- [ngClass]="{'tipo-saque' : extrato.tipoTransacao == 'SAQUE'}"
          [ngClass]="{'tipo-deposito' : extrato.tipoTransacao == 'DEPOSITO'}" -->
      <tbody>
        <tr *ngFor="let extrato of extratos" >
          <td>{{ extrato.id }}</td>
          <td>{{ extrato.dataTransacao }}</td>
          <td class="texto" [ngClass]="extrato.tipoTransacao == 'SAQUE' || extrato.tipoTransacao == 'TRANSFERENCIA'  ?
           extrato.tipoTransacao == 'SAQUE' ? 'tipo-saque' : 'tipo-transferencia' : 'tipo-deposito'" >{{ extrato.tipoTransacao }}</td>
          <td>{{ extrato.valorTransacao }},00 R$</td>
          <td>
            <div class="dropdown">
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Editar</a></li>
                <li><a class="dropdown-item" href="#">Excluir</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
